@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './styles/webfont.css';

body {
  font-family: '源暎エムゴ', sans-serif;
  overflow-y: scroll;
}

.font-awesome {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

#app[inert] {
  user-select: none;
  pointer-events: none;
  cursor: default;
}

.terms {
  min-height: calc(100vh + 1rem);
}
