/*!
* These WOFF/WOFF2 files are provided under the SIL Open Font License version 1.1
* For more details, see WOFF extended metadata or https://opensource.org/licenses/OFL-1.1
*/
@charset "utf-8";

@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/000.woff) format('woff');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+1-7f, U+a2-a3, U+a5, U+a7-a8, U+ac, U+b0-b1, U+b4, U+b6, U+d7, U+f7, U+2010, U+2013-2016, U+2018-2019,
    U+201c-201d, U+2020-2022, U+2025-2026, U+2030, U+2032-2033, U+203b, U+203e, U+2103, U+210f, U+2113, U+2127, U+212b,
    U+2135, U+2190-2194, U+2196-2199, U+21c4, U+21d2, U+21d4, U+21e6-21e9, U+2200, U+2202-2203, U+2205, U+2207-2209,
    U+220b, U+2212-2213, U+221a, U+221d-221e, U+2220, U+2225-222c, U+2234-2235, U+223d, U+2243, U+2245, U+2248, U+2252,
    U+2260-2262, U+2266-2267, U+226a-226b, U+2276-2277, U+2282-2287, U+228a-228b, U+2295-2297, U+22a5, U+2305-2306,
    U+2312, U+25a0-25a1, U+25b2-25b3, U+25b6-25b7, U+25bc-25bd, U+25c0-25c1, U+25c6-25c7, U+25c9, U+25cb, U+25ce-25cf,
    U+25e6, U+25ef, U+2605-2606, U+2640, U+2642, U+2669-266f, U+2934-2935, U+29bf, U+29fa-29fb, U+3000-3003, U+3005-3019,
    U+301c, U+3033-3035, U+303b-303d, U+3040-30ff, U+31f0-31ff, U+33cb, U+4edd, U+fe45-fe46, U+ff01-ff9f, U+ffe0-ffe3,
    U+ffe5;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/003.woff) format('woff');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+516c-516d, U+5171, U+5175-5178, U+517c, U+5185-5186, U+518a, U+518d, U+5192, U+5197, U+5199, U+51a0,
    U+51a5, U+51a8, U+51ac, U+51b4, U+51b6-51b7, U+51c4, U+51c6, U+51cb-51cd, U+51dd, U+51e1, U+51e6-51e7, U+51ea,
    U+51f1, U+51f6, U+51f8-51fa, U+51fd, U+5200, U+5203, U+5206-5208, U+520a, U+5211, U+5217, U+521d, U+5224-5225,
    U+5229, U+5230, U+5236-5238, U+523a-523b, U+5243, U+5247, U+524a, U+524d, U+5256, U+525b, U+5263-5265, U+526f-5270,
    U+5272, U+5275, U+5283, U+5287, U+5289, U+529b, U+529f-52a0, U+52a3, U+52a9-52ab, U+52b1, U+52b4, U+52b9, U+52be,
    U+52c3, U+52c5, U+52c7, U+52c9, U+52d5, U+52d8-52d9, U+52dd, U+52df, U+52e2, U+52e4, U+52e7, U+52f2, U+52fa,
    U+52fe-52ff, U+5301-5302, U+5305, U+5316-5317, U+5319, U+531d, U+5320-5321, U+532a, U+5339-533b, U+533f, U+5341,
    U+5343, U+5347-5348, U+534a, U+5351-5354, U+5357-5358, U+535a, U+535c, U+5360, U+5366, U+536f-5371, U+5373-5375,
    U+5378, U+537f, U+5384, U+5398, U+539a, U+539f, U+53a8-53a9, U+53ad, U+53b3, U+53bb, U+53c2, U+53c8-53ce, U+53d4,
    U+53d6-53d7, U+53d9, U+53db, U+53e1-53e5, U+53e9-53ec, U+53ef-53f3, U+53f6-53f8, U+5403-5404, U+5408-5411, U+541b,
    U+541f-5420, U+5426, U+542b, U+5438-5439, U+543b, U+543e, U+5442, U+5446, U+5448-5449;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/010.woff) format('woff');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+719f, U+71b1, U+71c3, U+71c8, U+71d0, U+71d5, U+71e5-71e6, U+71ed, U+7206, U+722a, U+7235-7236,
    U+723a, U+723d-723e, U+7247-7248, U+724c, U+7252, U+7259, U+725b, U+725d, U+725f, U+7261-7262, U+7267, U+7269,
    U+7272, U+7279, U+727d, U+7280, U+72a0, U+72ac, U+72af, U+72b6, U+72c2, U+72d0, U+72d7, U+72d9, U+72db, U+72e9,
    U+72ec-72ed, U+72f8, U+72fc-72fd, U+731b, U+731f, U+732a-732b, U+732e, U+7336-7337, U+733f, U+7344-7345, U+7363,
    U+7372, U+7384, U+7387, U+7389, U+738b, U+7396, U+73a9, U+73b2, U+73c2, U+73ca, U+73cd, U+73e0, U+73ea, U+73ed,
    U+73fe, U+7403, U+7406, U+7409, U+7422, U+7433-7436, U+745a-745b, U+745e, U+7460, U+7473, U+7483, U+74b0, U+74bd,
    U+74dc, U+74e2, U+74e6, U+74f6, U+7511, U+7518, U+751a, U+751c, U+751f, U+7523, U+7525, U+7528, U+752b, U+7530-7533,
    U+7537, U+753a-753b, U+754c, U+754f, U+7551, U+7554, U+7559, U+755c-755d, U+7560, U+7562, U+7565-7566, U+756a,
    U+7570, U+7573, U+7577, U+757f, U+758b, U+758e-758f, U+7591, U+75ab, U+75b2, U+75b9, U+75be, U+75c5, U+75c7,
    U+75d4-75d5, U+75d8, U+75db, U+75e2, U+75e9, U+75f4, U+7642, U+764c, U+7652, U+7656, U+767a-767b, U+767d-767e,
    U+7684, U+7686-7687, U+7690, U+76ae, U+76bf, U+76c3, U+76c6, U+76c8, U+76ca, U+76d7, U+76db, U+76df, U+76e3-76e4,
    U+76ee, U+76f2, U+76f4, U+76f8, U+76fe, U+7701, U+7709, U+770b-770c, U+771f-7720, U+773a, U+773c, U+7740, U+7761,
    U+7763, U+7766, U+77a5, U+77ac-77ad, U+77b3, U+77db, U+77e2, U+77e5, U+77e7, U+77e9, U+77ed, U+77ef, U+77f3, U+7802,
    U+7814-7815, U+7825-7827;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/011.woff) format('woff');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+7832, U+7834, U+783a, U+783f, U+785d, U+786b-786c, U+786f, U+7872, U+7881, U+7887, U+788d, U+7891,
    U+7893, U+7895, U+7897, U+78a7, U+78a9, U+78ba, U+78c1, U+78d0, U+78e8, U+78ef, U+7901, U+790e, U+793a, U+793c,
    U+793e, U+7941, U+7947-7949, U+7950, U+7956, U+795d-795e, U+7962, U+7965, U+7968, U+796d, U+7977, U+7981,
    U+7984-7985, U+798d-798f, U+79a6, U+79b0, U+79bd-79c1, U+79cb, U+79d1-79d2, U+79d8, U+79df, U+79e4, U+79e6, U+79e9,
    U+79f0, U+79fb, U+7a00, U+7a0b, U+7a0e, U+7a14, U+7a17, U+7a1a, U+7a1c, U+7a2e, U+7a32, U+7a3c-7a3d, U+7a3f-7a40,
    U+7a42, U+7a46, U+7a4d-7a50, U+7a63, U+7a6b, U+7a74, U+7a76, U+7a7a, U+7a7f, U+7a81, U+7a83-7a84, U+7a92-7a93,
    U+7a9f, U+7aaa, U+7aae-7aaf, U+7aba, U+7ac3, U+7acb, U+7adc, U+7ae0, U+7ae3, U+7ae5, U+7aea, U+7aef, U+7af6,
    U+7af9-7afa, U+7aff, U+7b08, U+7b11, U+7b1b, U+7b20, U+7b25-7b26, U+7b2c, U+7b39, U+7b46, U+7b48-7b49, U+7b4b,
    U+7b4f, U+7b51-7b52, U+7b54, U+7b56, U+7b86-7b87, U+7b94-7b95, U+7b97, U+7ba1, U+7baa, U+7bad, U+7bb1, U+7bb8,
    U+7bc0, U+7bc4, U+7bc7, U+7bc9, U+7be0, U+7be4, U+7bed, U+7c21, U+7c38, U+7c3e-7c3f, U+7c4d, U+7c73, U+7c7e,
    U+7c81-7c82, U+7c89, U+7c8b, U+7c8d, U+7c92, U+7c95, U+7c97-7c98, U+7c9b, U+7c9f, U+7ca5, U+7ca7, U+7cbe, U+7cca,
    U+7cce, U+7cd6, U+7cde-7ce0, U+7ce7, U+7cf8, U+7cfb, U+7cfe, U+7d00, U+7d04-7d05, U+7d0b, U+7d0d, U+7d10, U+7d14,
    U+7d17-7d1b, U+7d20-7d22, U+7d2b-7d2c, U+7d2f-7d30, U+7d33, U+7d39-7d3a, U+7d42-7d43;
}
@font-face {
  font-family: '源暎エムゴ';
  src: url(/fonts/genei-m-gothic/bold/013.woff) format('woff');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+82f1, U+8302, U+8304-8305, U+830e, U+831c, U+8328, U+8336, U+8338, U+8349-834a, U+834f, U+8352,
    U+8358, U+8377, U+837b, U+839e, U+83ab, U+83b1, U+83c5, U+83ca, U+83cc, U+83d3, U+83d6, U+83dc, U+83df, U+83e9,
    U+83ef-83f1, U+8404, U+840c, U+840e, U+8429, U+8431, U+843d, U+8449, U+844e, U+8457, U+845b, U+8461, U+8463, U+8466,
    U+846c, U+8471, U+8475, U+847a, U+848b, U+8490, U+8494, U+8499, U+849c, U+84b2, U+84b8, U+84bc, U+84c4, U+84c9,
    U+84cb, U+84d1, U+84ec, U+84ee, U+8500, U+8511, U+8513, U+851a, U+8526, U+852d, U+8535, U+853d, U+8543, U+8549-854a,
    U+854e, U+8557, U+8568-856a, U+8584, U+8597, U+8599, U+85a6, U+85a9-85ac, U+85ae-85af, U+85c1, U+85cd, U+85e4,
    U+85e9, U+85f7, U+85fb, U+8607, U+862d, U+864e, U+8650, U+865a, U+865c, U+865e, U+866b, U+8679, U+867b, U+868a,
    U+8695, U+86a4, U+86c7, U+86cb, U+86cd-86ce, U+86d9, U+86e4, U+86ed-86ee, U+86f8, U+86fe, U+8702, U+8718, U+871c,
    U+8749, U+874b, U+8755, U+8766, U+8776, U+877f, U+878d, U+87ba, U+87f9, U+87fb, U+8840, U+8846, U+884c, U+8853,
    U+8857, U+885b, U+885d, U+8861, U+8863, U+8868, U+8870, U+8877, U+887f, U+8888, U+888b, U+8896, U+88ab, U+88b4,
    U+88b7, U+88c1-88c2, U+88c5, U+88cf, U+88d5, U+88dc, U+88df, U+88e1, U+88f3, U+88f8, U+88fd-88fe, U+8907, U+8910,
    U+8912, U+8956, U+895f, U+8972, U+897f, U+8981, U+8986-8987, U+898b, U+898f, U+8996-8997, U+899a, U+89a7, U+89aa,
    U+89b3, U+89d2, U+89e3, U+89e6, U+8a00, U+8a02, U+8a08, U+8a0a, U+8a0e, U+8a13, U+8a17-8a18, U+8a1f, U+8a23, U+8a2a,
    U+8a2d, U+8a31, U+8a33-8a34, U+8a3a-8a3c, U+8a50;
}
